extends layout

block content
    h1.border-bottom.pb-2.mb-2= title

    p Welcome, this is a website that you can use to view recipes or create your own
    p I hope you can find a recipe that you like
